/*-------------------------------------
  Skills
-------------------------------------*/

.box {
  margin: 0px 0px;
  background-color: $sea;
  color: white;
  padding: 4%;
  
  h2 {
    margin-top: 60px;
  }

  i {
    font-size: $biggest;
  }

  p {
    font-size: $normal;
  }
}
