
.icon-continuous-line-document:before { content: '\e800'; } /* '' */
.icon-continuous-line-envelope:before { content: '\e801'; } /* '' */
.icon-continuous-line-pin-mark:before { content: '\e802'; } /* '' */
.icon-screen-outline:before { content: '\e803'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */